extends ./base.pug


block content 
    video(src="/" + video.fileUrl, controls)
    div
        p=video.description  
        //- small #{video.views} #{video.views <= 1 ? "view":"views"}
        small=video.hashtags
        |
        |
        small=video.createdAt   
        
        br
        
    div
        small Uploaded by 
        a(href=`/users/${video.owner._id}`)=video.owner.username
    br
    if String(video.owner.id) === String(loggedInUser._id)
        a(href=`${video.id}/edit`) Edit Video &rarr;
        br
        a(href=`${video.id}/delete`) Delete Video &rarr;
    
    